---
export interface Props{
	author: string
	startDate: string
	endDate: string
	url: string
	image?: string
	country: string
	rol: string
	title: string
	tags:
		{
			name: string,
			highlight: boolean
		}[]
}

const { title, url, country, author, startDate, endDate, rol, tags, image = '/tournament.png' } = Astro.props
---

	<a class='rounded-lg mb-8 overflow-hidden bg-secondary-500' href={url} rel='noreferrer' target='_blank' >
		<header class='bg-white h-36 md:h-56 relative flex justify-center items-center '>
			<img class='h-full object-contain' src={image} alt={title}>
			<div class='absolute leading-none uppercase font-black opacity-0 text-secondary-500' id='details'>Visitar Web</div>
		</header>
		<div class='pt-2 px-6 pb-6'>
			<h3 class='font-medium text-2xl'>{title}</h3>
			<h4 class='font-semibold'>Empresa: <span class='uppercase text-primary'>{author}</span></h4>
			<div class='flex border-y border-secondary-700 my-4 py-3 gap-x-4 gap-y-3 flex-wrap'>
				<div class='flex flex-col gap-1'>
					<span class='text-xs font-black uppercase'>País</span>
					<span class='font-black text-white-transparent-700'>{country}</span>
				</div>
				<div class='flex flex-col gap-1'>
					<span class='text-xs font-black uppercase'>Inicio</span>
					<span class='font-black text-white-transparent-700'>{startDate}</span>
				</div>
				<div class='flex flex-col gap-1'>
					<span class='text-xs font-black uppercase'>Fin</span>
					<span class='font-black text-white-transparent-700'>{endDate}</span>
				</div>
				<div class='flex flex-col gap-1'>
					<span class='text-xs font-black uppercase'>Rol</span>
					<span class='font-black text-white-transparent-700'>{rol}</span>
				</div>
			</div>

			<div class='flex flex-wrap gap-2'>
				{tags.map(tag => (
					<span class={`border rounded-full py-1 px-3 font-medium ${
						tag.highlight
							? 'bg-accent-500 border-accent-300 text-slate-800'
							: 'border-white-transparent-500'}`}>{tag.name}</span>
				))}
			</div>
		</div>
	</a>

<style>
  a {
    box-shadow: rgba(21, 77, 105, 0.199) 0px 1.51px 5.3px, rgba(21, 77, 105, 0.199) 0px 3.03px 4.54px;
    transition: box-shadow 0.3s ease 0s;
  }
  a:hover {
    box-shadow: rgb(26 95 130) 0px 0px 0px 12px, rgba(21, 77, 105, 0.199) 0px 1.51px 5.3px, rgba(21, 77, 105, 0.199) 0px 3.03px 4.54px;
  }
  a:hover img{
    opacity: 0.1;
  }
  a:hover #details{
    opacity: 1;
  }
  header{
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px calc(100% - 1.5rem));
  }

  img{
    transition: opacity 0.3s ease 0s;
  }
</style>
